In [25]:
# Input: 
path_original = f'../01 data/original data/'

In [ ]:
# data source: https://www.kaggle.com/puneet6060/intel-image-classification

In [1]:
import pandas as pd
import os
from PIL import Image

# Check image size

In [27]:
file = []
image_size_0 = []
image_size_1 = []

list_files = os.listdir(f'{path_original}buildings')
for file_name in list_files[:500]:
    image = Image.open(f'{path_original}buildings/{file_name}')
    file.append(file_name)
    image_size_0.append(image.size[0])
    image_size_1.append(image.size[1])

image_size_df = pd.DataFrame(
    {
        'file': file,
        'image_size_0': image_size_0,
        'image_size_1': image_size_1
    }
)
print(image_size_df.shape)
image_size_df.head()

(437, 3)

        file  image_size_0  image_size_1
0  20057.jpg           150           150
1  20060.jpg           150           150
2  20061.jpg           150           150
3  20064.jpg           150           150
4  20073.jpg           150           150

In [8]:
image_size_df[['image_size_0', 'image_size_1']].describe()

       image_size_0  image_size_1
count         437.0         437.0
mean          150.0         150.0
std             0.0           0.0
min           150.0         150.0
25%           150.0         150.0
50%           150.0         150.0
75%           150.0         150.0
max           150.0         150.0

# Resize image

In [20]:
# Input: 
image_resize_0, image_resize_1 = 150, 150
path_original = f'../01 data/original data/'
path_prapared = f'../01 data/train/'
folder_class_list = ['buildings', 'forest', 'glacier', 'mountain', 'sea', 'street']

In [21]:
def resize_image_by_class(to_move, folder_class):
    image = Image.open(f'{path_original}{folder_class}/{to_move}')
    image = image.resize((image_resize_0, image_resize_1))
    image.save(f'{path_prapared}{folder_class}/{to_move}')

In [ ]:
for folder_class in folder_class_list:
    list_files = os.listdir(f'{path_original}{folder_class}')
    for file_name in list_files:
        resize_image_by_class(file_name, folder_class)

In [19]:
# If the files are not yet sorter in respective folders
for to_move, folder_class in zip(
    train["filename"].tolist(), train["label"].tolist()
):
    resize_image_by_class(to_move, folder_class)